<br>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i> Dinning Rooms Table</div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" routerLink="/createDinningRoom">Create New Dinning Room</button>
    <br><br>
    <div class="table-responsive">
      <table id ="table" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Manager Chef</th>
            <th>Phone</th>
            <th>Street</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dinningRoom of dinningRooms">
            <td>{{dinningRoom.name}}</td>
            <td>{{dinningRoom.chefManager}}</td>
            <td>{{dinningRoom.phone}}</td>
            <td>{{dinningRoom.street}}</td>
            <td>
              <button type="button" class="btn btn-primary action" (click)="editDinningRoom(dinningRoom._id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger action" (click)="deleteDinningRoom(dinningRoom._id)"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>