<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Create Product</div>
      <div class="card-body">
        <form (submit)="addProduct(name.value,arrayUnit(),category.value, description.value)" action="javascript:void(0);"
        [formGroup]="validatingForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label class="font-weight-bold" for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Name" autofocus="autofocus" #name
                formControlName="valid_name">
                <div class="alert alert-danger" *ngIf="v_name.invalid && ( v_name.touched)">Name must be at least 3 letters long</div>
              </div>
              <div class="col-md-6">
                <label class="font-weight-bold">Category</label>
                <div class="form-label-group">
                    <select class="form-control" #category>
                        <option value="" selected disabled hidden>Select Category</option>
                        <option *ngFor="let category of categories">{{category.name}}</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="font-weight-bold">Units</label><br>
            <div class="form-label-group">
              <div class="row">
                  <div class="col-md-4" *ngFor="let unit of units">
                      <input type="checkbox" value="{{unit._id}}" name={{unit.name}} id={{unit.name}}> {{unit.name}} 
                  </div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
              <label for="exampleFormControlTextarea1" class="font-weight-bold">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" #description></textarea>
          </div>
          <br>
          <div class="form-group">
            <label class="font-weight-bold">Providers</label>
            <div *ngFor="let field of providerFields" class="row" style="padding-bottom: 2%">
              <div class="col-md-6">
                <select class="form-control chosen-select{{field}}" id="provider{{field}}" style="width: 100%">
                    <option value="" selected disabled hidden>Select Provider</option>
                    <option *ngFor="let provider of providers">{{provider.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                  <button *ngIf="lastField(field)" type="button"  class="btn btn-danger action" (click)="removeField(field)" > Remove</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <button type="button"class="btn btn-success action" (click)="addProviderField()"><i class="far fa-plus-square"></i> Add Provider</button>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]= "!validatingForm.valid" >Create Product</button>
        </form>
        <br>
        <button type="button" class="btn btn-light" routerLink="/products">Back</button>
      </div>
    </div>
  </div>