<div class="container espacio">
    <div class="card mx-auto mt-5">
      <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-8">
                <h1>Order Detail</h1>
            </div>
            <div class="col-12 col-md-4 fecha"  [ngSwitch]="order.status">
                <h5 style="padding-bottom: 1%">Date: <span class="border" style="padding:1%" id="date">0000/00/00</span></h5>
                <h5>Time: <span class="border" style="padding:1%" id="time">00:00:00</span></h5>
                <h5 *ngSwitchCase="0">Status: <span class="border"  style="padding:1%" id="status">Creado</span></h5>
                <h5 *ngSwitchCase="1">Status: <span class="border"  style="padding:1%" id="status">Aprobado</span></h5>
                <h5 *ngSwitchCase="-1">Status: <span class="border"  style="padding:1%" id="status">Denegado</span></h5>
            </div>
          </div>
      </div>
      <div class="card-body" >
        <br>
        <div class="row">
        <div class="col-12 col-md-5">
          <div class="card">
            <div class="card-header">Dinning Room Information</div>
            <div class="card-body">
              <p id="dinningRoomName">Name</p>
              <p><span id="dinningRoomStreet">Street</span>  <span id='dinningRoomExt' style="padding-left: 10%">Ext.Num</span></p>
              <p ><span id="dinningRoomColony">Colony</span> <span id="dinningRoomZip" style="padding-left: 10%">ZipCode</span></p>
              <p id="dinningRoomPhone">Phone</p>
            </div>
          </div>
        </div>
        <div class="col-12 offset-md-3 col-md-4">
          <div class="card" height="100%">
            <div class="card-header">Creator Information</div>
            <div class="card-body">
              <p id="chefName">Name</p>
              <p id="chefEmail">Email</p>
              <p id="role">Email</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
          <div class="card-header">Order Description</div>
          <div class="card-body">
            <p id="description"></p>
          </div>
        </div>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Provider</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of order.products">
                <th scope="row">{{order.products.indexOf(product)+1}}</th>
                <td>{{product.product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.unit.name}}</td>
                <td>{{product.provider.name}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <br><hr>
      <div *ngIf=" order.status == '0' && (authService.getRole() == 'Admin' || authService.getRole() == 'CEDIS')" class="row" style="text-align: center">
        <div class="col-3">
          <button type="button" class="btn btn-primary action" routerLink="/pendingOrders">Back</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-info" disabled><i class="far fa-edit"></i> Edit</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-success" (click)="approveOrder(order._id)"><i class="fas fa-check"></i> Approve</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-danger" (click)="denyOrder(order._id)"><i class="fas fa-times"></i> Deny</button>
        </div>
      </div>
    </div>
  </div>
