<br>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i> Products Table</div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" routerLink="/createProduct">Create New Product</button>
    <br><br>
    <div class="table-responsive">
      <table id ="table" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Units</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Units</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>
              <ul>
                <li *ngFor="let unit of product.unit">{{unit}}</li>
              </ul>
            </td>
            <td>{{product.description}}</td>
            <td>
              <button type="button" class="btn btn-primary action" (click)="editProduct(product._id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger action" (click)="deleteProduct(product._id)"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>