<br>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i> Shippings Table</div>
  <div class="card-body">
    <div class="table-responsive">
      <table id ="table" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Truck</th>
            <th>Destinations</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let shipping of shippings">
            <td>{{shipping.date}}</td>
            <td>{{shipping.time}}</td>
            <td>{{shipping.driverName}}</td>
            <td>
              <ul>
                <li *ngFor="let destiny of shipping.destiny">{{destiny}}</li>
              </ul>
            </td>
            <!-- <td>
              <button type="button" class="btn btn-primary action" (click)="editShipping(shipping._id)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger action" (click)="deleteShipping(shipping._id)"><i class="far fa-trash-alt"></i></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>