<br>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i> Units Table</div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" routerLink="/createUnit">Create New Unit</button>
    <br><br>
    <div class="table-responsive">
      <table id ="table" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of units">
            <td>{{unit.name}}</td>
            <td>
              <button type="button" class="btn btn-danger action" (click)="deleteUnit(unit._id)"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>