<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Update User</div>
      <div class="card-body">
        <form [formGroup]="updateForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="First name" formControlName="name" autofocus="autofocus" #name> 
                  <label for="firstName">First name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Last name" formControlName="last_name" #last_name>
                  <label for="lastName">Last name</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" class="form-control" placeholder="Email@example.com" formControlName="email"  #email>
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="New Password" formControlName="password" #password>
                  <label for="inputPassword">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Confirm password" formControlName="passwordConf" #passwordConf>
                  <label for="confirmPassword">Confirm password</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <select id="role" formControlName="role" #role>
                    <option value="Chef">Chef</option>
                    <option value="CEDIS">CEDIS</option>
                    <option value="Finanzas">Finanzas</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" (click)="updateUser(name.value, last_name.value, email.value, password.value, role.value)">Save</button>
        </form>
        <br>
        <button type="button" class="btn btn-light" routerLink="/users">Back</button>
      </div>
    </div>
  </div>