<!-- Sidebar -->
<ul *ngIf="authService.loggedIn()" id="slidebar" class="sidebar navbar-nav toggled" style="min-height:100% !important">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item dropdown" *ngIf="getRole()=='Admin'">
      <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="tablesDropdown">
        <h6 class="dropdown-header">Users:</h6>
        <a class="dropdown-item" routerLink="users">Users table</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Products:</h6>
        <a class="dropdown-item" routerLink="products">Products Table</a>
        <a class="dropdown-item" routerLink="units">Units Table</a>
        <a class="dropdown-item" routerLink="categories">Categories Table</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Providers:</h6>
        <a class="dropdown-item" routerLink="providers">Providers Table</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Dinning Rooms:</h6>
        <a class="dropdown-item" routerLink="dinningRooms">Dinning Rooms Table</a>
      </div>
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="orders" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-table"></i>
          <span>Orders</span>
      </a>
  </li>
</ul>
