<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Create Truck</div>
      <div class="card-body">
        <form action="javascript:void(0); " (submit)="addTruck(driverName.value,phone.value,licPlate.value,carrCapacity.value)">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="driverName" class="form-control" placeholder="B3" autofocus="autofocus" required="required" #driverName>
                  <label for="driverName">Driver Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="phone" class="form-control" placeholder="4905" required="required" #phone>
                  <label for="phone">Phone</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="licPlate" class="form-control" placeholder="Granjas" required="required" #licPlate>
                  <label for="licPlate">License Plate</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="carrCapacity" class="form-control" placeholder="31100" required="required" #carrCapacity>
                  <label for="carrCapacity">Carrying Capacity</label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Create Truck</button>
        </form>
        <br>
        <button type="button" class="btn btn-light" routerLink="/trucks">Back</button>
      </div>
    </div>
  </div>