<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Create Unit</div>
      <div class="card-body">
        <form (submit)="addUnit(name.value)" action="javascript:void(0);" [formGroup]="validatingForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                  <label></label>
                <div class="form-label-group">
                  <input type="text" id="name" class="form-control" placeholder="Name" autofocus="autofocus" #name
                  formControlName="unitName">
                  <div class="alert alert-danger" *ngIf="unitName.invalid && (unitName.dirty || unitName.touched)">Unit must be at least 3 letters long. Only letters allowed.</div>
                  <label for="name">Name</label> 
                </div>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-primary btn-block" type="submit"
          [disabled]= "!validatingForm.valid" >Create Unit</button>
        </form>
        <br>
        <button type="button" class="btn btn-light" routerLink="/units">Back</button>
      </div>
    </div>
  </div>